<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css">
</head>

<body>
    <header>
        <article id="weightsIcon">
            <div id="smGrid"></div>
            <div id="mdGrid"></div>
            <div id="lgGrid"></div>
            <p class="logoText">TRACKLIFT</p>
        </article>
    </header>

    <main>
        <section>
            <h1>Hi <%= name %>
            </h1>
            <form action="/logout?_method=DELETE" method="POST">
                <div class="buttonBkg"><button type="submit">Log Out</button></div>
            </form>
        </section>

        <section>
            <h2>Add a Lift</h2>
            <form id="addALift" class="formCard">
                <div>
                    <select id="userEmail" class="hidden">
                        <option selected>
                            <%= email %>
                        </option>
                    </select>
                </div>


                <div>
                    <label for="liftType">Lift Type:</label>
                    <br>
                    <select id="liftType" required>
                        <option value="Squat" selected>Squat</option>
                        <option value="Bench">Bench</option>
                        <option value="Deadlift">Deadlift</option>
                    </select>
                </div>

                <div>
                    <label>Weight Lifted</label>
                    <input class="addALiftInput" type="number" id="weightAmount" placeholder="in LBS" required>
                </div>

                <div>
                    <label>Reps Completed</label>
                    <input class="addALiftInput" type="number" id="repsCompleted" placeholder="Number of Repetitions"
                        required>
                </div>

                <div>
                    <label>RPE</label>
                    <input class="addALiftInput" type="number" id="rpeExertion" min="1" max="10"
                        placeholder="Rating of Perceived Exertion 1-10" required>
                </div>

                <div>
                    <label>Additional Notes</label>
                    <textarea class="addALiftInput" id="liftNotes" rows="3" cols="30" maxlength="200"
                        placeholder="Max 200 characters"></textarea>
                </div>

                <div>
                    <div class="buttonBkg"><button type="submit">Add Lift</button></div>
                </div>
            </form>
        </section>

        <section id="liftHistoryRow">
            <h2>Lift History</h2>
        </section>
    </main>
    <script src="/axios"></script>
    <script src="/jsHome"></script>
</body>

</html>