<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css">
</head>

<body>
    <header>
        <article id="weightsIcon">
            <div id="smGrid"></div>
            <div id="mdGrid"></div>
            <div id="lgGrid"></div>
            <p class="logoText">TRACKLIFT</p>
        </article>
        <section id="heroSection">
            <h3>Welcome To Your Tracklift Dashboard, <%= name %>
            </h3>
            <form action="/logout?_method=DELETE" method="POST">
                <button id="logoutBtn" type="submit">Log Out</button>
            </form>
        </section>
    </header>

    <div id="container">
        <main id="homeMain">
            <section id="homeDashboard">
                <form id="addALift" class="formCard">
                    <h2 id="addALiftHeading">Add a Lift</h2>
                    <div>
                        <select id="userEmail" class="hidden">
                            <option selected>
                                <%= email %>
                            </option>
                        </select>
                    </div>


                    <div>
                        <label for="liftType">Lift Type:</label>
                        <select id="liftType" required>
                            <option value="Squat" selected>Squat</option>
                            <option value="Bench">Bench</option>
                            <option value="Deadlift">Deadlift</option>
                        </select>
                    </div>

                    <div>
                        <label>Weight Lifted</label>
                        <input class="addALiftInput" type="number" id="weightAmount" placeholder="in LBS" required>
                    </div>

                    <div>
                        <label>Reps Completed</label>
                        <input class="addALiftInput" type="number" id="repsCompleted"
                            placeholder="Number of Repetitions" required>
                    </div>

                    <div>
                        <label>RPE</label>
                        <input class="addALiftInput" type="number" id="rpeExertion" min="1" max="10"
                            placeholder="Perceived Exertion 1-10" required>
                    </div>

                    <div>
                        <button type="submit">Add Lift</button>
                    </div>
                </form>
                <section id="backgroundArt">
                    <article id="barbellIcon">
                        <div id="tinyBlock"></div>
                        <div id="smBlock"></div>
                        <div id="mdBlock"></div>
                        <div id="lgBlock"></div>
                        <div id="wideBlock"></div>
                        <div id="lgBlock"></div>
                        <div id="mdBlock"></div>
                        <div id="smBlock"></div>
                        <div id="tinyBlock"></div>
                    </article>
                </section>
            </section>

            <section id="getHolder">
                <form id="viewLiftsForm">
                    <h2 id="viewLiftsHeading">View Lifts</h2>
                    <div>
                        <select id="viewUserEmail" class="hidden">
                            <option selected>
                                <%= email %>
                            </option>
                        </select>
                    </div>
                    <div>
                        <select id="viewLiftType" required>
                            <option value="Squat" selected>Squat</option>
                            <option value="Bench">Bench</option>
                            <option value="Deadlift">Deadlift</option>
                        </select>
                    </div>
                    <div>
                        <button id="viewLiftsButton" type="submit" form="viewLiftsForm">View</button>
                    </div>
                </form>
                    <!-- <button id="getAllLiftsBtn">Get All Lifts</button> -->
            </section>

            <section id="displayContainer">
                <article id="liftHistoryRow" class="hidden"></article>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
                <article id="chartRow"></article>
            </section>

        </main>
    </div>
    <script src="/axios"></script>
    <script src="/jsHome"></script>
</body>

</html>