<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="/css">
</head>

<body>
    <header>
        <article id="weightsIcon">
            <div id="smGrid"></div>
            <div id="mdGrid"></div>
            <div id="lgGrid"></div>
            <p class="logoText">TRACKLIFT</p>
        </article>
        <!-- <img class="logo" src="data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAYcAAAAvCAYAAAAIJgZJAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA
        AXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAliSURBVHgB7Z1Lchs3EIZbLu9Nb7MxcoLYVdkH
        PoHpE3h8AtMnEHUCyScQfYJYJxC0T5WpE3iyyTbMBaKgNZgKLVPTjRlgHpz/q5oiJbQw4EPdQD+A
        EwJgYtzd3Rn/YP31wl8m/Jofy/CcH2/9tT05OSkJABDNCWXm17+e3PHjHz/9e6L5WcIrhnf+oaDh
        YIXz8bFGP76Ff/id0rHje1Kl7Jy/944ykGLcfmyvKRNhfCt/vfHXy4g/5ffuwl83XQyFv7/1D6eC
        WOHv8SfF9bv0Dx8Uome+b9fQzyX9bygPwa9/TT3jx8Wf1Tn1j/r1+jFeU7+IYxtgTA/5+JSmh6Fq
        1jhWWIlZSsuyfuK/NBv/8LlJUbSE/4ktdYAVgR/XlhKyZxRYgS4oHn5dm9DXWQcFaSjx5xpWQOfU
        rNSZreLztkI/JQ1Djv8HDWWErKV+KRUylobl2RPKDK8I9lcF0s9ApPDXNc8Ug3JJxRvqzm+UkDDr
        /ErVjL2NYXjIqe/zW+L3rQv8uoxC7i0B0DPZjQPIRkGVkTCUhhhXzWNYSkQwDLy0NpQW46+vof/B
        8PcvSOceXSNuAoYgu3HgmEIdV9D8DKIwlM5AWKGd/fabjn2o2DMMKVYLh+B+r4daQYT7SvELpvSG
        4YwAGACsHKaPoUrRtVakIdgq8TlcTSx8Xy+oA0FxcmA8l2GoSZ04EAPHUIxCLluAHwAJxByOA0O6
        jJfH+EVoL0OgmS8pW2pJ3dD64VPw0hsjzQw+GcEQaz4ruJPAoGDlcDysOqweJIV+n4EU0milbKTW
        vvywaiiU4iWFGfhJwD9/TpVra0P6bJUu71sbLhUycCeBwYlOZY2tW0hd50CVa8ORHlYgTcpvG2S0
        /EPdWZGsZFlhsaItSDeTZnmuAflE8UgK3e0953HbBtmmNgntLP7iUK1JMF43fO2liUqGr8v7FoUf
        05p0n2VBx4P0fdmnoObXzp+vdmUaVW8iwPG2L5QOzdgs6eHvsDQ+jc7Z53ZydQ5hqV1q5UNWSBM7
        3+cN9ctWec8rf50F18daIc//OFFKLgR/pZnz/peKx91kTA3HHVoUgxnSZ++Is+rwPXkbiomsIB79
        vsUSEYTeDPB9zMaewRZRxL52A703277vG3M/ZWJF9GuINg4PZ/ipfwY/wsrQfwH46VoQbePSEWsT
        HnypHMlYkoPXh/5GYtPC3fKeqlqJJgPIsYdFrurzgKbitfQX3ElgFCDmMBGCUnSC2KKF/9wK7Y6+
        Hwcr0FL4mzZGSlOEF604wwpiI4jVLrwsRLiTEIQGoyHaOMTWLaDOISlOIfOM4pCU4rbFONpkLIlx
        jw6K80ohI2VstSLSnRS72gIgG1g5TIuUQbY63mAEMXfgd1Jgy8SsYIKsEcS6BAQ1gThDeVBlJxHc
        SWBkIOYwbzSulBvl7x7CsQzNjF07jphMi+9gV5g3QCU1G4Dk6awhGcIqROFOAqMDK4dpIbqMIrOE
        pGD09lCQNhTEScFbS2npmkKcM9j8AxHuJAd3EhgjT3LHEBBzSEpMPYIGK7RvW7YxMQFeo5D5m7rR
        q3EgfaX3ewJghEzxPIdZoqwD2FBcf0YQc0KbbWi3PaSHxsDbXjetvFIUN96DHVfBMfA0dwwBMYfu
        RJzSFlPkopnZ31K3e/E9HI2AYKRyG6ql/6zYyGDH1eNimXgH389TmBRg5TBi9lYLmlPQYmehUrxh
        J5zqpgkQ8z0czYeLCNnXBKbCkrpvKLmPo+FO5lPzNPdeSRn2VjoGXKh4TkWbymErtLumRmUGkCWk
        aB4C7iQwepCtNH14E7qooGZwU6UIbku1B9mqjicM3ElgEiDmMF0cVTPQmDhDTaq6gluhnbfzsH6M
        jkDNhgCYAFg5TJeiw06R4j5Gyr6dQibLthQTxhIAEwB1DtPli5+VX7bMokhSLxH85n0Xw00dTvFd
        EQAjByuH6VIfBPTNK5t3FIcV2mO2qnDU7V5z5DRxaiQAyUHM4Ti48MrmRpMBozhQhXGkh2Wb0vwW
        bQ7/mSgcoK9PK2tKPeY23pAP6azTwFHa1NOxFIY2gjqH44CVDddCfFTIiof7UHWusjav2yhksp+0
        NhJWbAT9e8eB+nNB9t695OVjaiPAMMxyO3XUOQwDK0ut64bdR6xAjKJPjXGwiWRiGDyl1StintU3
        Bce/HDqXug2s8P39OOhvBdFzL+eEYkMABgErh2HYRbhZ6pmodNSlVEFdM4SitkJ7H8ts3lfJNLRr
        3z8tXHsifWYMu5deEQAjAzGHCcCxhDDzLRrEROUW4g2plaAGI8QdNMbhOXU77KjX1x0+szOS3Ut8
        fvV5qlULAKlAttJ0KKk7Q9Yc2Ia2kmS6jt0I7clXLyGe4BSiK2WiAAC9gTOk54Wl4XjUnaWsl2jt
        DgvbhUgrh1yurffKvi9jjlYFIDdYOcwLS8MhZT9JQdmC2mMVMlmCwsHwnSlEDem2+gagF3CG9Ezw
        s1KeeQ85MzXC4T+snG3D33O9xLuWKYUfFDLSPlGticheYvfSFfaiAmMA2UrzQeOWYR952xm0JXl2
        zzUWV4+08e9X1Iy62K8mnMpmBbGyhy201dlLfsyvRnSCHpgp0cYBdQ6TRVP89qmtkgzptoUgZukR
        48CzZd8HK0QpXffay72OqAaXsoUYR5mJyF4yVLmXUmcvLVJv2aH8DDTxnhpNxp0hHTsY2G5g5TAf
        rNDeafbMhVwK5W6pGV65rAUZQ5WBYLmDq4hgFHi/qYJ0aGICnRnYvZT6NDNGM6HjFes1pcH465tS
        dkPVag20BDGHGRBmW0YQSxGQleIGL4W4A2+xUZA8Vm7f8JNgkLZ7v4+ZqTKbnk9lg3sJTAJkK80D
        TbzBUXecQqYppZUVYexsj5WsDZehOMPA9+tl1VATmb2kcYkBkIXsxgF1DqNAPNzHc0Pd0fTRGPsI
        rpQ19cMgZzlHFMcVERsgApAUrBzmgbRy2CXa/E3Th5UEwhnLa8oLG4Yhd4pFcRwYNdmNA8cU9uMK
        0s8gLUGxSMYhSQFYcAtJfWlcXLkNxDr0PxgR7qX67AcAegUrh+PHKmQcpcMJ7QvtPkJBgfOOpSWl
        4T5gPrRhqIlwLy1xtCjoG8Qcjh9NfYOjdGgqjdWb6LG7y18/U+WGcdQO56+l74ezf1LEVlKidS+d
        wr0E+iS7OwdFcCAlIS3XUmVg6i1B9pUmK9oyXLxSuEI6KADx/Ac8JuqarKDZ6wAAAABJRU5ErkJg
        gg==" alt="Tracklift Logo" /> -->
    </header>

    <main>
        <h1>Hi <%= name %>
        </h1>
        <h1>Hello</h1>
        <form action="/logout?_method=DELETE" method="POST">
            <div class="buttonBkg"><button type="submit">Log Out</button></div>
        </form>
    </main>

    <footer></footer>

</body>

</html>