<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="/css">
</head>

<body>
    <header>
        <article id="weightsIcon">
            <div id="smGrid"></div>
            <div id="mdGrid"></div>
            <div id="lgGrid"></div>
            <p class="logoText">TRACKLIFT</p>
        </article>
    </header>

    <main class="formMain">
        <article>
            <section class="formCard">
                <h1>Login</h1>
                <% if (messages.error) { %>
                    <%= messages.error %>
                        <% } %>
                            <form action="/login" method="POST">

                                <div>
                                    <label for="email">Email</label>
                                    <input type="email" id="email" name="email" required />
                                </div>
                                <div>
                                    <label for="password">Password</label>
                                    <input type="password" id="password" name="password" required />
                                </div>
                                <div class="buttonBkg"><button type="submit">Login</button></div>
                            </form>

                            <p class="redirectOption">Don't Have An Account? <a href="/register">Register</a></p>
            </section>
            <div class="grid"></div>
        </article>
    </main>
</body>

</html>