* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	line-height: 1;
}

/* ^^^ RESET ^^^ */
:root {
	--lighter-color: #202857;
	--main-color: #101429;
	--darker-color: #0a081e;
	--highlight-color: #33e602;
	--highlight-dim-color: #33e6027b;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px var(--lighter-color);
	border-radius: 5px;
}

::-webkit-scrollbar-thumb {
	background: var(--highlight-color);
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--highlight-dim-color);
}

::-moz-selection {
	color: var(--main-color);
	background: var(--highlight-color);
}

::selection {
	color: var(--main-color);
	background: var(--highlight-color);
}

* {
	font-family: 'Space Mono', monospace;
	font-size: 16px;
	text-decoration: none;
	border: none;
}

*:visited {
	color: var(--highlight-color);
}


::placeholder {
	color: rgba(255, 255, 255, 0.74);
	font-size: 14px;
}

body {
	background-color: var(--main-color);
	color: white;
}

header {
	height: 10vh;
	padding: 2vh;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: inline;
	max-width: 300px;
}

main {
	padding: 5vw;
}

footer {
	height: 10vh;
}

button {
	transition: 300ms;
	padding: 5px 10px;
	border: none;
	background-color: var(--highlight-color);
	font-size: 16px;
	font-weight: 900;
	border: 1px solid transparent;
}

button:hover {
	border: 1px solid var(--highlight-color);
	border-radius: 100px;
	background-color: var(--darker-color);
	color: white;
}

form {
	caret-color: var(--highlight-color);
}

input,
select,
textarea,
option {
	box-sizing: border-box;
	width: 60%;
	margin: 2px 0px;
	padding: 0px 10px;
	border: 1px solid var(--main-color);
	border-left: 5px solid var(--highlight-color);
	background-color: var(--main-color);
	color: white;
}

label {
	margin: 0 20px 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
	font-family: 'Space Mono', monospace;
	margin: 10px 0px;
}

h1 {
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 900;
}

h2 {
	text-transform: uppercase;
	font-size: 20px;
}

h3 {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 100;
}

a {
	text-decoration: underline 2px var(--highlight-color);
}

a:visited {
	color: var(--highlight-color);
}

table,
tr,
th,
td {
	text-align: left;
	border: 1px solid var(--lighter-color);
	border-collapse: collapse;
	padding: 10px;
}

th {
	font-weight: 900;
	text-transform: uppercase;
}

td {
	font-size: 14px;
	font-weight: 100;
}

/* ^^^ GLOBAL ^^^ */
/*  vvv LOGIN/REGISTER/FORM SPECIFIC vvv */

.formMain {
	box-sizing: border-box;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.formCard {
	background-color: var(--darker-color);
	display: flex;
	flex-direction: column;
	padding: 40px;
	min-width: 400px;
}

.formCard div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.gridOfDots {
	position: relative;
	left: 440px;
	top: -40px;
	width: 55px;
	height: 55px;
	background-image: radial-gradient(var(--highlight-color) 1px, transparent 0);
	background-size: 5px 5px;
	z-index: -1;
}

#weightsIcon {
	display: flex;
	align-items: center;
}

.redirectOption {
	margin: 60px 0px 0px 0px;
}

/* ^^^ LOGIN/REGISTER PAGE SPECIFIC ^^^ */
/*  vvv LOGO SPECIFIC vvv */

#lgGrid {
	width: 10px;
	height: 45px;
	background-image: radial-gradient(var(--highlight-color) 1px, transparent 0);
	background-size: 5px 5px;
}

#mdGrid {
	width: 10px;
	height: 35px;
	background-image: radial-gradient(var(--highlight-color) 1px, transparent 0);
	background-size: 5px 5px;
}

#smGrid {
	width: 10px;
	height: 15px;
	background-image: radial-gradient(var(--highlight-color) 1px, transparent 0);
	background-size: 5px 5px;
}

.logoText {
	padding-left: 10px;
	font-size: 55px;
	font-weight: 900;
}



/* ^^^ LOGO SPECIFIC ^^^  */
/* vvv HOME SPECIFIC vvv */

#container {
	display: flex;
	justify-content: center;
}

#homeMain {
	width: 100%;
	height: 100%;
	max-width: 1200px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

#heroSection {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	align-items: center;
}

#homeDashboard {
	display: flex;
	width: 100%;
}

#addALift {
	width: 100%;
}

#backgroundArt {
	width: 66%;
	background-image: radial-gradient(var(--highlight-color) 1px, transparent 0);
	background-size: 5px 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#lgBlock {
	width: 10px;
	height: 55px;
	background-color: var(--darker-color);
}

#mdBlock {
	width: 10px;
	height: 45px;
	background-color: var(--darker-color);
}

#smBlock {
	width: 10px;
	height: 25px;
	background-color: var(--darker-color);
}

#tinyBlock {
	width: 10px;
	height: 9px;
	background-color: var(--darker-color);
}

#wideBlock {
	width: 33%;
	height: 9px;
	background-color: var(--darker-color);
}

.display {
	background-color: var(--darker-color);
	display: inline;
}

.display div {
	display: block;
	width: 26%;
}

#viewLiftsForm {
	width: 100%;
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 20px;
	background-color: #0a081e;
	padding: 40px;
}

#viewLiftsForm select {
	width: 200px;
	margin: 10px 0;
}



#displayContainer {
	display: flex;
	width: 100%;
}


#chartRow {
	padding: 40px;
	width: 100%;
	flex-shrink: 1;
}

#myChart {
	width: 100%;
}

#liftHistoryRow {
	height: 500px;
	min-width: max-content;
	overflow-y: auto;
	overflow-x: hidden;
}

#chartRow h2 {
	padding: 0 40px;
}

/* ^^^ HOME SPECIFIC ^^^ */

.hidden {
	display: none;
	width: 0px;
	height: 0px;
	padding: 0px;
	margin: 0px;
	border: none;
	background-color: none;
}